.top-banner {
    position:relative;
    background-color: black;
    height: 35vh;
    overflow: hidden;
}

.title-banner {
    position: absolute;
    color: #fff;
    
}
.content-article {
    position:  relative;
}
.recommend-section{
    background-color: #bdbdbc;
    height: 35vh;
}
