.footer{
    position: relative;
    height: 60vh;
    overflow: hidden;
}
.fondo{
    background-color: black;
}
.cover{
    background-color: rgba(0, 0, 0, 0.4);
}

.content{
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
}