/* Navbar */
.navbar {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	color: white;
	background-color:#010101;
	width: 100%;
	
}
.navbar-dark .navbar-toggler {
	
	border-color: #ff7f00;
}

@media screen and (max-device-width: 1200px ) {
	.nav-item a {
		margin-right: 0.2em;
		font-size: 0.9em;
	}
	.logo-nav{
		width: 50%;
	}
}

@media screen and (min-device-width: 1200px ) {
	.logo-nav{
		width: 60%;
	}
}

.nav-item .nav-link:hover {
	background-color: #ff7f00;
	color: #010101;
}



/* .sticky-top {
	position: -webkit-sticky;
	position: fixed;
    width: 100%;
    top: 0;
} */
