.bannerP {
	height: 97vh;
	background-color: red;
	position: relative;
	overflow: hidden;
}
.image-banner {
	background-color: black;
	height: 97vh;
	position: absolute;
	top: 0;
	bottom: 0;
	/* height: 100%; */
	/* width: 100%; */
}

.caption {
	position: absolute;
	z-index: 2;
	top: 5rem;
	bottom: 0;
}
.title {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 5rem;

	color: #ff7f00;
}
.subtitle {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
	color: #fff;
}
