.services {
	height: 105vh;
	overflow: hidden;
	background-color: black;
	position: relative;
}

.back {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	/* filter: blur(1px); */
}
.front {
	position: absolute;
}

.cards {
	height: 55vh;
	overflow: auto;
}